@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.background {
    background-image: url(/assets/images/blue-box.png);
}

.h-100vh {
    height: 100vh;
}

.section {
    width: 100%;
}

.d-flex {
    display: flex;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.menu-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.gap-30 {
    gap: 30px;
}

.justify-space-btw {
    justify-content: space-between;
}

.container {
    width: 100%;
}

.padding {
    padding-left: 70px;
    padding-right: 70px;
}

nav {
    padding-top: 30px;
}

.button1 {
    width: 110px;
    height: 40px;
    border-radius: 210px;
    border: 0;
    background-color: #4B8DFF;
    color: #FFFFFF;
    transition: box-shadow 100ms linear;
}

.button1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-6 {
    width: 50%;
}

.col-padding {
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    max-width: 499px;
}

.section1-heading {
    font-family: Poppins;
    font-weight: 600;
    font-size: 75px;
    line-height: 128%;
    letter-spacing: -2%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.section1-content {
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.button2 {
    width: 172px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    background-color: #1E71FF;
    transition: background-color 250ms linear;
}

.mr-36 {
    margin-right: 36px;
}

.button2-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    transition: color 250ms linear;
}

.button2:hover {
    background-color: #FFFFFF;
    color: #1E71FF;
}

.pt-100 {
    padding-top: 100px;
}

.pb-110 {
    padding-bottom: 110px;
}

.section2-heading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 45px;
    line-height: 128%;
    text-align: center;
    color: #2B353E;
    padding-top: 70px;
}

.section2-content {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 162%;
    text-align: center;
    color: #6B7278;
    max-width: 566px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section2-img {
    width: 100%;
    padding-bottom: 70px;
}

.padding-left-right {
    padding-left: 170px;
    padding-right: 170px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.section3-background {
    background-color: #E9F1FF;
}

.section3-img {
    width: 100%;
    left: -10%;
}

.card1 {
    max-width: 467px;
}

.section3-heading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 45px;
    line-height: 128%;
    color: #2B353E;
    margin-bottom: 30px;
}

.section3-content {
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    line-height: 162%;
    color: #6B7278;
    margin-bottom: 60px;
}

.mr-30 {
    margin-right: 30px;
}

.button3 {
    width: 167px;
    height: 50px;
    border-radius: 60px;
    border: 1.5px solid #1E71FF;
    background-color: #E9F1FF;
    transition: background-color 250ms linear;
}

.button3-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    color: #1E71FF;
    transition: color 250ms linear;
}

.button3:hover {
    background-color: #1E71FF;
    color: #FFFFFF;
}

.mb-90 {
    margin-bottom: 90px;
}

.line {
    width: 167px;
    border: 1px solid #CCD5E2;
    margin-bottom: 42.21px;
}

.stars {
    height: 19.02px;
    margin-right: 25.51px;
}

.description {
    max-width: 274px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 162%;
    color: #6B7278;
}

.description span {
    font-weight: 700;
}

.section3-row {
    height: 50vh;
}

.col-4 {
    width: 33%;
}

.col-8 {
    width: 66%;
    padding-left: 150px;
    padding-right: 150px;
}

.blue-logo {
    max-width: 110px;
    margin-bottom: 18px;
}

.footer-content {
    max-width: 168px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 162%;
    color: #6B7278;
}

.list-head {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 162%;
    color: #2B353E;
    margin-bottom: 20px;
}

.footer-list {
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 162%;
    color: #6B7278;
    margin-bottom: 12px;
}

.copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 162%;
    color: #6B7278;
    left: 7%;
    bottom: 7%;
}